.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-style: italic;
    font-size: small;
}

.organizeGroup {
    background-color: rgb(220, 231, 231);
    opacity: 0.8;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
    /* border-style: dotted; */
    box-shadow: inset 3px 3px 3px rgba(255, 255, 255, .7), inset;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
}

.organize {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-style: italic;
    font-size: small;
    margin-top: 10px;
    margin-bottom: 10px;
}

.resultDiets {
    width: 150px;
    height: 100px;
    line-height: 5px;
    background-color: rgb(220, 231, 231);

    opacity: 0.8;
    border-radius: 10px;
    overflow-y: scroll;
}